<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="component/nav/nav.css">
	<link rel="stylesheet" href="component/alert/alert.css">
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/vue-resource.js"></script>
	<script src="js/clientStorge.js"></script>
</head>
<body>
	<template id="toptitle">
		<div id="title">
	            <div id="title-content">
	                <div id="title-left">
	                    <span><a href="index.html" id="nav-logo"><img src="images/app_phone.png">拉勾APP</a></span>
	                    <span><a href="index.html" id="nav-a">| &nbsp;进入企业版</a></span>
	                </div>
	               <!--  <div id="title-right" v-if="isLogin">
	                  	<span><a href="#" >登陆</a></span> 	
	                    <span><a href="#">| 注册</a></span> 
	                </div>
	                <div id="title-right" v-else>
	                	<span><a href="#">消息</a></span>
	                	<span><a href="myresume">| 我的简历</a></span>
	                	<span><a href="#">| 投递箱</a></span>
	                	<span><a href="#">| 收藏夹</a></span>
	                	<span class="titleuser">
	                		<a href="#">| {{usename}}</a>
	                		<ul>
	                			<li>|</li>
	                			<li>我的订阅</li>
	                			<li>职位邀请</li>
	                			<li>账号设置</li>
	                			<li @click="quit">退出</li>
	                		</ul>
	                	</span>
	                </div> -->
	            </div>
	    </div>
	</template>
	
	<script>
		var toptitle=Vue.extend({
			template:"#toptitle",
			props:["isLogin","usename"],
			data:function(){
				return {

				}
			},
			methods:{
				quit:function(){
					this.$emit("quit");
				}
			}

		})
	</script>

	<!-- 加个动画试试 -->
	<template id="alert">
		<transition name="fade">
			<div class="popwindow" v-if="alertshow">
				<div class="alert">
					<div class="top">
						<h2>提示</h2>
						<span @click="cancel">×</span>
					</div>
					<div class="center">
						<span v-text="msg"></span>
					</div>
					<div class="bottom" v-if="isChoose">
						<span @click="sure">确定</span>
						<span @click="cancel">取消</span>
					</div>
				</div>
			</div>
		</transition>
	</template>


	<script>
		var alert=Vue.extend({
			template:"#alert",
			props:["msg","alertshow"],
			data:function(){
				return {
					isChoose:true,
				}
			},
			methods:{
				cancel:function(){
					this.$emit("cancel");
				},
				sure:function(){
					this.$emit("sure");
				}
			}
		});	
	</script>

    <!-- 页头 -->
	<div class="login" id="login">
		<alert :msg="alertMsg" :alertshow="alertshow" @cancel="cancel" @sure="sure"></alert>
		<toptitle :is-login="isLogin" :usename="usename" @quit="quit"></toptitle>
			<transition name="fadeLogin">
				<div class="login-content" v-if="toggle">
					<ul>
						<li class="login-logo"><img src="images/lagou.jpg" alt=""></li>
						<li><h2>使用 FlyApe ID登录官网</h2></li>
						<li>
							<label for="" class="icon-user"></label>
							<input type="text" placeholder="用户名 / 手机号" v-model="usename" 
							v-on:blur="errMessage[0].isFalse=!errMessage[0].reg.test(usename)">
							<!-- v-show="errMessage[0].reg.test(usename)" -->
							<div v-show="errMessage[0].isFalse" v-text="errMessage[0].nameErr" class="errTip"></div>
							<!-- <err :msg="errMessage[0].nameErr" v-show="true"> --> <!--  错误信息提示 -->
						</li>
						<li>
							<label for="" class="icon-key"></label>
							<input type="password" v-model="password"
							v-on:blur="errMessage[1].isFalse=!errMessage[1].reg.test(password)">
							<div v-show="errMessage[1].isFalse" v-text="errMessage[1].passwordErr" class="errTip"></div>
						</li>

						<li v-if="isAdmin"><span class="login-btn" @click="send">登录</span></li>
						<li v-else><span class="adminLogin-btn" @click="send">管理登录</span></li>

						<li><p class="tologin"></p></li>
						<li class="login-complete">
							<a href="#" @click="togoAdmin" >管理登录</a>/
							<a href="#" @click="togoUser" >用户登录</a>  
							没有账号？ 去<a href="#" @click="change">注册</a></li>
					</ul>
				</div>
			</transition>
			<transition name="fadeRigist">
				<div class="regist-content" v-if="!toggle" >
					<ul>
						<li class="regist-top">注册 FlyApe ID</li>
						<li>
							<label for="" class="icon-user"></label>
							<input type="text" placeholder="请输入用户名/手机号" v-model="registFileds.registName"
							v-on:blur="errMessage[2].isFalse=!errMessage[2].reg.test(registFileds.registName)"></li>
							<div v-show="errMessage[2].isFalse" v-text="errMessage[2].reNameErr" class="errTip"></div>
						<li>
							<label for="" class="icon-key"></label>
							<input type="password" placeholder="密码" v-model="registFileds.registPassword"
							v-on:blur="errMessage[3].isFalse=!errMessage[3].reg.test(registFileds.registPassword)"></li>
							<div v-show="errMessage[3].isFalse" v-text="errMessage[3].rePassword" class="errTip"></div>
						<li>
							<label for="" class="icon-user"></label>
							<input type="password" placeholder="确认密码" v-model="registFileds.registRePassword"
							v-on:blur="errMessage[4].isFalse=!(registFileds.registPassword==registFileds.registRePassword)"></li>
							<div v-show="errMessage[4].isFalse" v-text="errMessage[4].rerePassword" class="errTip"></div>
						<li class="regist-code">
							<label for="" class="icon-phone"></label>
							<input type="text" placeholder="验证码" v-model="registFileds.inputCode"
							v-on:blur="errMessage[5].isFalse=!(registFileds.inputCode==code)">
							<span v-text="code" @click="createCode"></span></li>
							<div v-show="errMessage[5].isFalse" v-text="errMessage[5].codeErr" class="errTip"></div>
						<li><span class="regist-btn" @click="registComplete" >提交</span></li>
						<li><p class="tologin"></p></li>
						<li class="regist-complete">已有账号？去<a href="#" @click="change">登陆</a></li>
					</ul>
				</div>
			</transition>


	</div>

	<!-- 错误信息组件 -->
	<template id="err">
		<div class="err">
			<span v-text="msg"></span>
		</div>
	</template>

	<script>
		var err=Vue.extend({
			template:"#err",
			props:["msg"],
		})
	</script>

	<script>
		var vm=new Vue({
			el:"#login",
			components:{err:err,toptitle:toptitle,alert:alert},
			data:{
				alertMsg:"",
				alertshow:false,
				usename:"",
				isLogin:true, //判断用户是否登录
				password:"",
				toggle:true,   //切换登录或者注册
				code:"",  //验证码					
				isAdmin:true,  //用户登录或者管理员登录
				isAdminMsg:"用户/管理登陆",
				isAdminPop:"username",
				isAdminSend:"user", //发送用户登录或者管理员登录信息
				registFileds:{
					registName:"",
					registPassword:"",
					registRePassword:"",
					inputCode:"",
				},
				errMessage:[
					{nameErr:"用户名格式错误",reg:/\w{2,12}/,isFalse:false},
					{passwordErr:"密码格式错误",reg:/\w{4,12}/,isFalse:false},
					{reNameErr:"用户名大于2位小于12位",reg:/\w{2,12}/,isFalse:false},
					{rePassword:"密码大于4位小于12位",reg:/\w{4,12}/,isFalse:false},
					{rerePassword:"两次输入密码不一致",reg:/\w{4,12}/,isFalse:false},
					{codeErr:"验证码输入错误",reg:/\w{4,12}/,isFalse:false},
				]
				
			},
			created:function(){
			
		

				this.createCode();
				if(client.fetch()==""){
					this.isLogin=true;
				}else{
					this.isLogin=false;
					// console.log(client.fetch().usename)
					this.usename=client.fetch().usename;
				}
			},
			methods:{
				send:function(){
					var TT=this.isAdminPop;
					this.$http({
						url:"http://localhost:8080/"+this.isAdminSend+"/login/",
						method:"POST",
						data:JSON.stringify({
							[TT]:this.usename,
							password:this.password
						})
					}).then(function(res){
						if(res.data=='1'){
							// alert("登录成功");
							var obj={usename:this.usename,password:this.password};
							client.save(obj);
							this.isLogin=false;
							window.location.href="index.html";
	
							//
						}else if(res.data=='2'){
							window.location.href="lh_html/lh_index.html";							
						}
						else if(res.data=="0"){
							// alert("账号或密码错误")
							this.alertMsg="账号或密码错误";
							this.alertshow=true;
						}
					},function(){})
				},
				// adminSend:function(){

				// },
				change:function(){
					for(var i in this.registFileds){
						this.registFileds[i]="";
					}
					this.toggle=!this.toggle;
				},
				createRandom:function(length){   //创建随机数
					return Math.floor(Math.random()*length);
				},
				togoAdmin:function(){
					this.isAdminSend="admin";
					this.isAdmin=false;
					this.isAdminPop="adminname";
				},
				togoUser:function(){
					this.isAdminSend="user";
					this.isAdmin=true;
					this.isAdminPop="username";
				},
				createCode:function(){   //生成验证码
					this.code="";
					// console.log(546);
					var arr=[1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i','j','k','o'];
					var codeLength=4; //验证码长度
					for(var i=0;i<codeLength;i++){
						this.code+=arr[this.createRandom(arr.length)];
					}
				},
				quit:function(){ //退出登录
					if(confirm("确认退出？")){
						this.isLogin=true;
						client.clear();
						window.location.href="index.html"
					}else return;
				
				},
				cancel:function(){
					this.alertshow=false;
				},
				sure:function(){
					this.alertshow=false;
				},
				registComplete:function(){
					var that=this;
					if(this.registFileds.registName==''){
						this.alertMsg="用户名不能为空";
						this.alertshow=true;
					}else if(this.registFileds.registPassword!=this.registFileds.registRePassword){
						// alert("密码输入不一致")
						this.alertMsg="密码格式错误";
						this.alertshow=true;
					}else if(this.registFileds.inputCode!=this.code){
						// alert("验证码输入错误");
						this.alertMsg="验证码输入错误";
						this.alertshow=true;
					}else if(this.registFileds.inputCode==this.code&&
						this.registFileds.registPassword==this.registFileds.registRePassword){
						this.$http({
							url:"http://localhost:8080/user/regist/",
							method:"POST",
							data:JSON.stringify({
								username:this.registFileds.registName,
								password:this.registFileds.registPassword
							})
						}).then(function(res){
							if(res.data=="0"){
								// alert("用户名重复");
								this.alertMsg="用户名重复";
								this.alertshow=true;
							}else if(res.data=="1"){
								for(var i in this.registFileds){   //清空注册栏
										// this.registFileds[i]="";
									}
								this.alertshow=true;
								this.alertMsg="注册成功！";
								
								setTimeout(function(){
									that.alertshow=false;
									that.toggle=true;
								},1000);			
							}
						},function(){})
					}
				}
			}
		})

	</script>
</body>
</html>